<section>
    <h1>Get in touch</h1>
    <a target="_blank" href="mailto:contact@coconauts.net" class="social-email"></a>
    <a target="_blank" href="http://twitter.com/coconauts" class="social-twitter"></a>
    <a target="_blank" href="https://www.facebook.com/pages/Coconauts/268867943273399" class="social-facebook"></a>
    <a target="_blank" href="https://www.youtube.com/channel/UC-L-wHR5HUG_nABI4aiMPuw" class="social-youtube"></a>
</section>
<section>
    <h1>Support us</h1>
    <a target='_blank' href='https://www.patreon.com/coconauts' class='social-patreon'></a>
</section>
