table {  width:100%}
.iconCell {
    width:80px;
}
.type {

    width:80px;
    font-size:small;
    padding:10px;
}
.year {
    width:80px;
    text-align:center;
    color:gray;
}
.description p {
    margin:0px ;
}
.border {
    border:1px solid gray;
    border-radius: 5px;
}
.center { text-align:center;}

.projectProgress {
    height:300px;
    background-image:url('../images/progress.png'), url('../images/progress_grid.png');
    background-repeat:no-repeat, repeat-y;
}
.firstProgress{
    width:100px;
    padding-top:50px
}

.projectProgress td div { height:20px; background-color:green }

[class*="project-"]  {
  width:64px;
  height:64px;
  margin-left:10px;
  display:inline-block;
  background-image:url('projects.png') ;
}

/* 1 ,2, 3  ,4  ,5  ,6  ,7, 8
 * 48,96,144,192,240,288,336
 * 64,128,192,256,320,384,448,512 */

.project-coconauts{ background-position:0px 0px;}
.project-podcast{ background-position:0px 0px;}
.project-astroship{ background-position:-64px 0px;}
.project-turret-pi{ background-position:-128px 0px;}
.project-watchduino{ background-position:-192px 0px;}

.project-cleope{ background-position:0px -64px;}
.project-screensaver{ background-position:-64px -64px;}
.project-gramola{ background-position:-128px -64px;}
.project-bookmark{ background-position:-192px -64px;}

.project-photo{ background-position:0px -128px;}
.project-game-manager{ background-position:-64px -128px;}
.project-game-stats{ background-position:-128px -128px;}
.project-game-template{ background-position:-192px -128px;}

.project-interventores{ background-position:0px -192px;}
.project-sea-evolution{ background-position:-64px -192px;}
.project-water-rings{ background-position:-128px -192px;}
.project-water-rings2{ background-position:-192px -192px;}

.project-dynamus{ background-position:0px -256px;}
.project-piano-legend{ background-position:-64px -256px;}
.project-spend{ background-position:-128px -256px;}
.project-watchduino2{ background-position:-192px -256px;}

.project-timebomb{ background-position:0px -320px;}
.project-timebomb2{ background-position:-128px -320px;}
.project-404games{ background-position:-192px -320px;}

.project-blog{ background-position:0px -384px;}
.project-octopress{ background-position:-64px -384px;}
.project-hardware{ background-position:-128px -384px;}

.project-3d-island-demo{ background-position:-192px -384px;}

.project-3d-house{ background-position:0px -448px;}
.project-starcraft-unity3d{ background-position:-64px -448px;}
.project-coconauts-ci{ background-position:-128px -448px;}
.project-retrophies{ background-position:-192px -448px;}

.project-sea-life{ background-position:0px -512px;}
.project-rps{ background-position:-64px -512px;}
.project-github-pr-tracker { background-position:-128px -512px; }
.project-water-rings-simulator { background-position:-192px -512px; }

.project-escaperoom { background-position:0px -576px; }
.project-infinify { background-position:-64px -576px; }
.project-spaceroads { background-position:-128px -576px; }

.title{font-weight:bold;}
.gray{color:gray;}

.games { color:green;}
.hardware { color:red;}
.software {color:blue;}

.category p {
    font-weight:bold;
    display:inline-block;
    vertical-align:text-bottom;
    margin-right:10px;
}
