<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->

<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

<link href="{{ root_url }}/stylesheets/common.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/stylesheets/sidebar.css" rel="stylesheet" type="text/css">
<script languaje='javascript' src="{{ root_url }}/javascripts/common.js#2"></script> 
