<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/blog">Blog</a></li>
  <li><a href="{{ root_url }}/projects">Projects</a></li>
  <li><a href="{{ root_url }}/press">Press</a></li>
  <li><a href="{{ root_url }}/#about">About</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
