{% for post in site.posts %}
 {% if post.categories contains 'podcast' %}
  <a href="{{ root_url }}{{ post.url }}" target='_blank'><h3>{{post.title}}</h3></a>
  <p>{{ post.content }}</p>
 {% endif %}
{% endfor %}
