// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg ; //Remove line image in background
}

body > header {
  padding:10px;
}

body > nav {
  padding-left:20px; 
  
  a {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color:black;
  }
}